@tailwind base;
@tailwind components;
@tailwind utilities;
.Typewriter__wrapper {
  font-size: 5rem;
  line-height: 3rem;
  width: 100vw;
}

.Typewriter__cursor {
  font-size: 5rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .Typewriter__wrapper .Typewriter__cursor {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
  }
}

/* .main::before {
  content: "";
  position: fixed;
  top: -10%;
  left: -100%;
  width: 100%;
  height: 60rem;
  box-shadow: 0 0 100px 40px #ffffff08;
  transform: rotate(-45deg);
  transition: 0.1s all;
}

.main:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  filter: brightness(1.3);
}

.main:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
} */

.glow-effect {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 25px rgba(255, 255, 255, 0.5);
}
